body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 300px;
  background-color: white;
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 20px;
  width: 300px;
  color: black;
  box-sizing: border-box;
  border-radius: 8px;
}
.container2 {
  width: 200px;
  background-color: white;
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 200px;
  width: 200px;
  color: black;
  box-sizing: border-box;

}

.profileItem {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}


.customNotification { 
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: red;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  animation: fadeout 6s forwards;
  opacity: 1;
}

@media (max-width: 760px) {
  body {
    height: auto;
    justify-content: flex-start; 
    padding: 20px;
  }

  .container, .container2 {
    padding: 10px;
    width: 100%; 
    max-width: 100%;
    margin-bottom: 20px; 
  }
  .profileItem {
    font-size: 14px
}
}