body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: white;
  display: flexbox;
  flex-flow: row;
  justify-content: center;
  padding: 200px;
  width: 300px;
  color: black;
}

.profileItem {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}